openapi: "3.0.0"
info:
  title: "mc-api.dribl.com - UNOFFICIAL api documentation"
  description: "trying to reverse engineer the dribl com public api \n \n __BUT THE API IS BEHIND CLOUDFLARE PROTECTION AND CANT BE USED WITH PYTHON SO I LOST INTEREST__"
  version: "2024-06 experimental"

externalDocs:
  description: Find out more on my github page
  url: https://github.com/Data-Monkey/apidribl


servers:
  - url: https://mc-api.dribl.com/api
    description: Dribl API host 

tags:
- name: clubs
  description: "Clubs have multiple teams "  
- name: "season"
  description: "all about the seasons"
- name: fixture
  description: "Fixtures are matches "
- name: grounds
  description: "Grounds are a collection of Fields "  

# API ENDPOINTS 

paths:

#------ SEASONS ------
  /seasons:
    get:
      tags:
      - "season"
      summary: "list all seasons"
      description: "list all seasons"
      parameters:
        - name: disable_paging
          in: query
          required: false
          schema:
            type: boolean 
          description: "disable result pagination \n deault page size: 100"
        - $ref: '#/components/parameters/page_parameter'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Season'            

  /seasons/{season_id}:
    get:
      tags:
      - "season"
      summary: "returns season by id"
      description: "returns season details by id"
      parameters:
        - in: path
          name: season_id
          required: true
          schema:
            type: string
          description: The hash ID of the season     
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Season'          


  /list/seasons:
    get:
      tags:
      - "season"
      summary: "list all seasons"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Season' 

#------ CLUBS ------
  /clubs:
    get:
      tags:
      - "clubs"
      summary: "queries clubs"
      description: "returns club details"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Club'            


  /clubs/{club_id}:
    get:
      tags:
      - "clubs"
      summary: "returns club by id"
      description: "returns club details by id"
      parameters:
        - name: club_id        
          in: path 
          required: true
          schema:
            type: string 
          description: "season_id"        

      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Club'
  /list/clubs:
    get:
      tags:
      - "clubs"
      summary: "list all clubs"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Club'         

#------ LEAGUES ------
  /leagues:
    get:
      tags:
      - "league"
      summary: "get leagues"
      description: "lists all leagues matching the criteria \n Pagination seems to be always enabled and page size = 30"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League'  


  /ladders:
    get:
      tags:
      - "ladders"
      summary: "queries ladders"     
      parameters:
        - in: query 
          name: league
          required: true
          schema: 
            type: string 
          description: "league_id"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ladder'  

  /ladders/{ladder_entry_id}:
    get:
      tags:
      - "ladders"
      summary: "queries ladders"   
      parameters: 
        - name: ladder_entry_id
          in: path
          required: true
          schema:
            type: string 
          description: "hash ID of the ladder_entry"          
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ladder'
#------ GROUNDS ------
  /grounds:
    get:
      tags:
      - "grounds"
      summary: "queries grounds"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: 
                      $ref: '#/components/schemas/Ground'

  /grounds/{ground_id}:
    get:
      tags:
      - "grounds"
      summary: "queries grounds by id"    
      parameters: 
        - name: ground_id
          in: path
          required: true
          schema:
            type: string 
          description: "hash of the ground_id"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: 
                      $ref: '#/components/schemas/Ground'

#------ COMPETITIONS ------
  /competitions:
    get:
      tags:
      - "competitions"
      summary: "queries competitions"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Competition'

  /competitions/{competition_id}:
    get:
      tags:
      - "competitions"
      summary: "queries competitions by ID"    
      parameters: 
        - name: competition_id
          in: path
          required: true
          schema:
            type: string 
            description: hash string
          description: "competition_id" 
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Competition'

#------ TENANTS ------
  /tenants:
    get:
      tags:
      - "tenants"
      summary: "queries tenants"       
      parameters: 
        - name: tenant_id
          in: query
          required: true
          schema:
            type: string 
          description: "ID of the enity" 
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Tenant'  
#------ FIXTURES ------
  /fixtures:
    get:
      tags:
      - "fixture"
      summary: "queries fixture / matches"     
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fixture'

  /fixtures/{id}:
    get:
      tags:
      - "fixture"
      summary: "queries fixture / matches"      
      parameters: 
        - name: id
          in: path
          required: true
          schema:
            type: string 
          description: "fixture_id" 
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Fixture'


#------ SCHEMA DEFINITIONS ------
#swagger generator: https://roger13.github.io/SwagDefGen/

components:
  schemas:
    Match: 
      $ref: 'swagger/components/schemas/Match.yaml'
    Season:
      $ref: 'swagger/components/schemas/Season.yaml'
    League:
      $ref: 'swagger/components/schemas/League.yaml'
    Fixture:
      $ref: "swagger/components/schemas/Fixture.yaml"
    Ground:
      $ref: "swagger/components/schemas/Ground.yaml"
    Club: 
      $ref: "swagger/components/schemas/Club.yaml"
    Tenant: 
      $ref: "swagger/components/schemas/Tenant.yaml"
    Competition:
      $ref: "swagger/components/schemas/Competition.yaml"
    Ladder:
      $ref: "swagger/components/schemas/Ladder.yaml"
    # Ladder_Entry:
    #   $ref: "swagger/components/schemas/Ladder_Entry.yaml"
    
    meta:
      type: object
      properties:
        path: 
          type: string
          example: https://mc-api.dribl.com/api/endpoint
        per_page: 
          type: number
          example: 30
          description: optional page size indicator
        next_cusror: 
          type: string
          example: eyJjb21wZXRpdGlvbnMub3JkZXIiOm51bGwsImNvbXBldGl0aW9ucy5uYW1lIjoiQXVzdHJhbGlhIEN1cCIsIl9wb2ludHNUb05leHRJdGVtcyI6dHJ1ZX0
          format: nullable
        prev_cusror: 
          type: string
          example: eyJjb21wZXRpdGlvbnMub3JkZXIiOm51bGwsImNvbXBldGl0aW9ucy5uYW1lIjoiQXVzdHJhbGlhIEN1cCIsIl9wb2ludHNUb05leHRJdGVtcyI6dHJ1ZX0
          format: nullable        


  parameters: 
    page_parameter:
      name: page
      in: query
      required: false
      schema:
        type: integer
      description: "page selection - only available if disable_paging = false"