---
swagger: "2.0"
info:
  description: "trying to reverse engineer the dribl.com public api"
  title: "api.dribl.com"
  termsOfService: ""
  contact:
    email: ""
  license:
host: "mc-api.dribl.com"
basePath: "/api"

tags:
- name: "season"
  description: "Season to be played"
- name: fixture
  description: "all the fixtures "
- name: lists
  description: "list entities"  

schemes:
- "https"

paths:
  /list/seasons:
    post:
      tags:
      - "season"
      summary: "list all seasons"
      description: "list all seasons"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonArray'  



components:
  schemas:
    Season:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        username:
          type: string
          example: theUser
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
        password:
          type: string
          example: '12345'
        phone:
          type: string
          example: '12345'
        userStatus:
          type: integer
          description: User Status
          format: int32
          example: 1
      xml:
        name: user  
    SeasonArray:
      description: List of season object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Season'
