openapi: "3.0.0"
info:
  title: "mc-api.dribl.com - UNOFFICIAL api documentation"
  description: "trying to reverse engineer the dribl com public api \n \n __BUT THE API IS BEHIND CLOUDFLARE PROTECTION AND CANT BE USED WITH PYTHON SO I LOST INTEREST__"
  version: "2024-06 experimental"

externalDocs:
  description: Find out more on my github page
  url: https://github.com/Data-Monkey/apidribl


servers:
  - url: https://mc-api.dribl.com/api
    description: Dribl API host

tags:
- name: tenants
  description: A __TENANT__ represents an organisation/association that organises football competitions.
- name: clubs
  description: A __CLUB__ is a member of a tenant/association and has multiple teams that play in different competitons/leagues.
- name: "competitions"
  description: A __COMPETITION__ is either a tournament or a ongoing competition organised by a tenant.
- name: "leagues"
  description: A __LEAGUE__ is part of a competiton. Usually splits the competition by age group or different rounds in a tournament. ie Group Stage vs Finals.
- name: "seasons"
  description: A __SEASON__ separtes a competition by year or generally time. The same competition can repeat every year as a new season.
- name: fixtures
  description: A __FIXTURE__ is a match with all its details. The time, field, teams, results, ...
- name: grounds
  description: A __GROUND__ has one or more fields. Games/Fixtures are played on the fields.
- name: ladders 
  description: A __LADDER__ is the standings/ladder of a league/season combination. A ladder is made up of LADDER ENTRIES. These APIs return lists of LADDER_ENTRIES.
- name: website endpoints 
  description: these endpoints are used to generate the websites and are providing logos, links, sponsors, color schemes, ... 
  
# API ENDPOINTS

paths:

#------ SEASONS ------
  /seasons:
    get:
      tags:
      - "seasons"
      summary: "returns seasons"
      description: "returns seasons"
      parameters:
        - $ref: '#/components/parameters/query_tenant'       
        - $ref: '#/components/parameters/query_paging'  
        - $ref: '#/components/parameters/query_page'     

      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Season'

  /seasons/{id}:
    get:
      tags:
      - "seasons"
      summary: "returns season by id"
      description: "returns season details by id"
      parameters:
        - $ref: '#/components/parameters/path_id' 
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Season'

  /list/seasons:
    description: lists seasons, no paging 
    get:
      tags:
      - "seasons"
      summary: "returns seasons"
      parameters:
        - $ref: '#/components/parameters/query_tenant'        
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Season'

#------ CLUBS ------
  /clubs:
    get:
      tags:
      - "clubs"
      summary: "returns clubs"
      description: "returns club details"
      parameters:
        - $ref: '#/components/parameters/query_tenant'      
        - $ref: '#/components/parameters/query_season'           
        - $ref: '#/components/parameters/query_paging'            
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Club'

  /clubs/{id}:
    get:
      tags:
      - "clubs"
      summary: "returns club by id"
      description: "returns club details by id"
      parameters:
        - $ref: '#/components/parameters/path_id' 
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Club'

  /list/clubs:
    #https://mc-api.dribl.com/api/clubs?tenant=kbam1QjmwX
    #https://mc-api.dribl.com/api/clubs?season=bam14vjdwX&date_range=default&timezone=Australia%2FSydney
    get:
      tags:
      - "clubs"
      summary: "list clubs"
      parameters:
        - $ref: '#/components/parameters/query_tenant'      
        - $ref: '#/components/parameters/query_season'           
        - $ref: '#/components/parameters/query_paging'    
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Club'

#------ LEAGUES ------
  /leagues:
    get:
      tags:
      - "leagues"
      summary: "get leagues"
      description: "lists all leagues matching the criteria \n Pagination seems to be always enabled and page size = 30"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/League'
#------ LADDERS ------
  /ladders:
    get:
      tags:
      - "ladders"
      summary: "queries ladders"
      parameters:
        - in: query
          name: league
          required: true
          schema:
            type: string
          description: "league_id"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ladder'

  /ladders/{iid}:
    get:
      tags:
      - "ladders"
      summary: "queries ladders"
      parameters:
        - name: ladder_entry_id
          in: path
          required: true
          schema:
            type: string
          description: "hash ID of the ladder_entry"
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ladder'
#------ GROUNDS ------
  /grounds:
    get:
      tags:
      - "grounds"
      summary: "returns list of grounds"
      parameters:
        - $ref: '#/components/parameters/query_tenant'      
        - $ref: '#/components/parameters/query_season'  
        - $ref: '#/components/parameters/query_club'          
        - $ref: '#/components/parameters/query_paging'              
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ground'

  /grounds/{id}:
    get:
      tags:
      - "grounds"
      summary: "returns ground by id"
      parameters:
        - $ref: '#/components/parameters/path_id'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Ground'

  /list/grounds:
    get:
      tags:
        - "grounds"
      summary: "returns list of grounds"
      parameters:
        - $ref: '#/components/parameters/query_tenant'      
        - $ref: '#/components/parameters/query_season'  
        - $ref: '#/components/parameters/query_paging'              
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ground'

#------ COMPETITIONS ------
  /competitions:
    get:
      tags:
      - "competitions"
      summary: "queries competitions"
      parameters:
        - $ref: '#/components/parameters/query_tenant'      
        - $ref: '#/components/parameters/query_season'  
        - $ref: '#/components/parameters/query_paging'    
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Competition'

  /competitions/{id}:
    get:
      tags:
      - "competitions"
      summary: "queries competitions by ID"
      parameters:
        - $ref: '#/components/parameters/path_id'

      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Competition'

#------ TENANTS ------
  /tenants:
    # https://mc-api.dribl.com/api/tenants?mc_link=acnsw.dribl.com&slug=acnsw
    get:
      summary: "queries tenants"
      description: At least one filter parameter is required. Does not return the full list.
      tags:
        - "tenants"
      parameters:
        - $ref: '#/components/parameters/query_tenant'
        - name: slug
          in: query
          required: false
          schema:
            type: string
          description: Short name of the association. ie mwfa for Manly Warringha Football Association

      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Tenant'
#------ FIXTURES ------
  /fixtures:
    # https://mc-api.dribl.com/api/fixtures?date_range=all&season=R1K3pzOdQ9&tenant=kbam1QjmwX&timezone=Australia%2FSydney
    # https://mc-api.dribl.com/api/fixtures-clubs?date_range=date-range&date[]=2024-06-15&date[]=2024-06-17&season=3vmZpnGKq5&competition=R3NPZlPdr4&league=8RmwZnxjdE&tenant=kbam1QjmwX&timezone=Australia%2FSydney
    get:
      tags:
      - "fixtures"
      summary: "queries fixture / matches"
      parameters:
        - $ref: '#/components/parameters/query_competition'
        - $ref: '#/components/parameters/query_tenant'
        - $ref: '#/components/parameters/query_season'
        - $ref: '#/components/parameters/query_league'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fixture'

  /fixtures/{id}:
    get:
      tags:
        - "fixtures"
      summary: "queries fixture / matches by id"
      parameters:
        - $ref: '#/components/parameters/path_id'
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Fixture'

#------ FIXTURES ------
  /links:
    get:
      tags: 
        - "website endpoints"
      summary: returns links to be displayed on the website by tenant
      description: i.e. https://mc-api.dribl.com/api/links?linkable_type=tenant&tenant=gld45b2mW5
      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object      
  /sponsors:
    get:
      tags: 
        - "website endpoints"
      summary: returns sponsors to be displayed on the website by tenant
      description: i.e. https://mc-api.dribl.com/api/sponsor-levels?sponsorable_type=tenant&tenant=gld45b2mW5

      responses:
        '200':
          description: 'successful operation'
          content:
            application/json:
              schema:
                type: object                    


#------ SCHEMA DEFINITIONS ------
#swagger generator: https://roger13.github.io/SwagDefGen/

components:
  schemas:
    Match:
      $ref: 'swagger/components/schemas/Match.yaml'
    Season:
      $ref: 'swagger/components/schemas/Season.yaml'
    League:
      $ref: 'swagger/components/schemas/League.yaml'
    Fixture:
      $ref: "swagger/components/schemas/Fixture.yaml"
    Ground:
      $ref: "swagger/components/schemas/Ground.yaml"
    Club:
      $ref: "swagger/components/schemas/Club.yaml"
    Tenant:
      $ref: "swagger/components/schemas/Tenant.yaml"
    Competition:
      $ref: "swagger/components/schemas/Competition.yaml"
    Ladder:
      $ref: "swagger/components/schemas/Ladder.yaml"

    meta:
      type: object
      properties:
        path:
          type: string
          example: https://mc-api.dribl.com/api/endpoint
        per_page:
          type: number
          example: 30
          description: optional page size indicator
        next_cusror:
          type: string
          example: eyJjb21wZXRpdGlvbnMub3JkZXIiOm51bGwsImNvbXBldGl0aW9ucy5uYW1lIjoiQXVzdHJhbGlhIEN1cCIsIl9wb2ludHNUb05leHRJdGVtcyI6dHJ1ZX0
          format: nullable
        prev_cusror:
          type: string
          example: eyJjb21wZXRpdGlvbnMub3JkZXIiOm51bGwsImNvbXBldGl0aW9ucy5uYW1lIjoiQXVzdHJhbGlhIEN1cCIsIl9wb2ludHNUb05leHRJdGVtcyI6dHJ1ZX0
          format: nullable


  parameters:
    query_page:
      name: page
      in: query
      required: false
      schema:
        type: integer
      description: "page selection - only available if disable_paging = false"

    query_tenant:
      name: tenant
      in: query
      required: false
      schema:
        type: string
      description: tenant_id

    query_competition:
      name: competition
      in: query
      required: false
      schema:
        type: string
      description: competition_id

    query_league:
      name: league
      in: query
      required: false
      schema:
        type: string
      description: league_id

    query_season:
      name: season
      in: query
      required: false
      schema:
        type: string
      description: season_id

    query_club:
      name: club
      in: query
      required: false
      schema:
        type: string
      description: club_id

    query_paging:
      name: disable_paging
      in: query
      required: false
      schema: 
        type: boolean
      description: disables paging. default is false


    path_id:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: ID of the entity