---
swagger: "2.0"
info:
  description: "trying to reverse engineer the dribl.com public api"
  title: "api.dribl.com"
  termsOfService: ""
  contact:
    email: ""
  license:
host: "mc-api.dribl.com"
basePath: "/api"

tags:
- name: "season"
  description: "Season to be played"
- name: fixture
  description: "all the fixtures "


schemes:
- "https"

paths:
  /list/seasons:
    get:
      tags:
      - "season"
      summary: "list all seasons"
      description: "list all seasons"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:      
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Season'  



components:
  schemas:
    Season:
      type: object
      properties:
        type:
          type: string
          example: "seasons"
        id:
          type: string
          example: "JR1K3RNQ9M"
        value: 
          type: string
          example: "JR1K3RNQ9M"          
        title:
          type: string
          example: "Winter 2020"
        name:
          type: string
          example: "Winter 2020"
        is_current:
          type: boolean
          example: false            

        
    SeasonArray:
      description: List of season object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Season'
